@model Actor
@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Actor Name :  @Model.FullName</h2>
        <p class="card-text">Actor Description:  @Model.Bio</p>
        <p class="card-text"><img src="/img/@Model.Image" class="rounded-circle" style="width:80px; height:80px" /></p>
        
        <a href="/Actors/index" class="btn btn-primary">Back To All Actors</a>
    </div>
</div>
